#AMBIENT WEATHER API KEY FOR:
# label: gilbert_heiligers_ambientweather
export AMBIENT_WEATHER_API_KEY=47099bd3388541b4b45259ced387f20c1bedb6aafff14b188167643d80deb78f
export AMBIENT_WEATHER_APPLICATION_KEY=67f98b3e1b5d46b2b63e9f7d1c8be944b96ed0d416c844ec881e141038c6334b
export AMBIENT_WEATHER_MACADDRESS=F4:CF:A2:CD:9B:12

# ambient weather production cluster
export ES_CLOUD_ID="weather-tracker:dXMtY2VudHJhbDEuZ2NwLmNsb3VkLmVzLmlvOjQ0MyQ2ZjcwNzQ1NjRiNGY0MjUxYWZhM2FmNmUyZWEwYzk3MCQ1YjY4MzVkMWU0Y2I0ZTdjODcyOWU0ZDA4OTA0ZGVjZQ=="
export ES_HOSTS="https://6f7074564b4f4251afa3af6e2ea0c970.us-central1.gcp.cloud.es.io:9243"
export ES_USERNAME=elastic
export ES_PASSWORD=fuGs2BCCcwiGfakFGP8cBJm4
