#AMBIENT WEATHER API KEY FOR:
# label: gilbert_heiligers_ambientweather
export AMBIENT_WEATHER_API_KEY=47099bd3388541b4b45259ced387f20c1bedb6aafff14b188167643d80deb78f
export AMBIENT_WEATHER_APPLICATION_KEY=67f98b3e1b5d46b2b63e9f7d1c8be944b96ed0d416c844ec881e141038c6334b
export AMBIENT_WEATHER_MACADDRESS=F4:CF:A2:CD:9B:12

# ambient weather staging cluster
export STAGING_CLOUD_ID="staging-weather-tracker:dXMtY2VudHJhbDEuZ2NwLmNsb3VkLmVzLmlvOjQ0MyQ1Y2UxZjE1ZTQ3YzA0NzMwYjY4MGYyZWE1YzQ2Njg3YyQ1M2NjZTFlMzEwZGU0ZTM2OGJjYTBjNTA0MWZlMWY1Yg=="
export STAGING_ES_HOSTS="https://5ce1f15e47c04730b680f2ea5c46687c.us-central1.gcp.cloud.es.io:9243"
export STAGING_ES_USERNAME=elastic
export STAGING_ES_PASSWORD=B4S4T7nsWoi4bEAUtrmAhaOQ
